<table>
  <tr>
    <td>Dear <strong>Ime,</strong></td> 
  </tr>
 <tr> 
   <td> Your rent is being processed by our employees. We will be in touch soon.</td>
  </tr>
  <tr>
    <td> Regards,<br>CarRentalName </td>
  </tr> <br>
  <tr>
  <td align='center' bgcolor='grey' style='padding: 40px 0 30px 0;'><img src='https://image.ibb.co/ctVA9J/logo.png'><br><div style="color: white; padding: 10px; margin-top: 20px;">CarRentalName <br>Nikole Sopa 9 <br>062116767</div></td>
</table>