			<!-- Start home-about Area -->
			<section class="home-about-area" id="about">
				<div class="container-fluid">				
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-6 no-padding home-about-left">
							<img class="img-fluid" src="../assets/img/arteon.jpg" alt="">
						</div>
						<div class="col-lg-6 no-padding home-about-right">
							<h1>Globally Connected <br>
							by Large Network</h1>
							<p>
								<span>We are here to listen from you deliver exellence</span>
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
							</p>
							<a class="text-uppercase primary-btn" href="#">get details</a>
						</div>
          </div>	
      
       <div class="container">
          <h5 class="section-title h1">WE OFFER YOU</h5>
          <div class="row">
           <!-- Car Manufacturer -->
           <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="manufacturer in manufacturers_list">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
             <div class="mainflip">
                <div class="frontside">
                 <div class="card">
                  <div class="card-body text-center">
                   <p><img class=" img-fluid" src="{{manufacturer.picture}}" alt="card image"></p>
                   <h4 style="margin-top: 20px;" class="card-title">{{manufacturer.name}}</h4>
                   <p class="card-text">{{manufacturer.front_txt}}</p>
                  </div>
                 </div>
                </div>
                <div class="backside">
                 <div class="card">
                  <div class="card-body text-center mt-4">
                   <h4 class="card-title">{{manufacturer.name}}</h4>
                   <p class="card-text">{{manufacturer.back_txt}}</p>
                  </div>
                 </div>
                </div>
             </div>
            </div>
           </div>
           <!-- ./Car Manufacturer -->
          </div>
       </div>
       <!-- Manufacturers -->
       
       <div style="margin-top: 20px;" class="container manufacturers">
         <div style="margin-bottom: 15px;" class="well well-sm">
           <h3><strong>Find Us</strong></h3>
         </div>
         
         <div class="row">
           <div class="col-md-7">
           <iframe class="mapica"
           width="600"
           height="450"
           frameborder="0" style="border:0"
           src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDpa7ZgHSkuPOOFq8YYmSrIfBoUJwhlbjY
             &q=Nikole+Sopa+10,Sarajevo+Bosnia+and+Herzegovina" allowfullscreen>
           </iframe>
           </div>
       
           <div class="col-md-5">
             <h4><strong>Get in Touch</strong></h4>
           <form name="email_form" ng-submit="sendmail(email)">
             <div class="form-group">
             <input type="text" name="name" class="form-control" ng-model="email.name" placeholder="Name" required>
             <span style="color:#d32f2f" ng-show="email_form.name.$touched && email_form.name.$invalid">
             <span ng-show="email_form.name	.$error.required">Name is required.</span>
             </div>
             <div class="form-group">
             <input type="email" name="email" class="form-control" ng-model="email.email" placeholder="E-mail" required>
             <span style="color:#d32f2f" ng-show="email_form.email.$touched && email_form.email.$invalid">
             <span ng-show="email_form.email.$error.required">Email is required.</span>
             <span ng-show="email_form.email.$error.email">Invalid email address.</span>
             </div>
             <div class="form-group">
             <input type="text" name="subject" class="form-control" ng-model="email.subject" placeholder="Subject" required>
             <span style="color:#d32f2f" ng-show="email_form.subject.$touched && email_form.subject.$invalid">
             <span ng-show="email_form.subject.$error.required">Subject is required.</span>
             </div>
             <div class="form-group">
             <textarea class="form-control" name="body" ng-model="email.body" placeholder="Message" required></textarea>
             <span style="color:#d32f2f" ng-show="email_form.body.$touched && email_form.body.$invalid">
             <span ng-show="email_form.body.$error.required">Email body is required.</span>
             </div>
             
             <button ng-disabled="email_form.$invalid" class="btn btn-warning" type="submit" name="button">
               <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
             </button>
           </form>
           </div>
         </div>
         </div>
      </div>
    </section>
    <!-- End home-about Area -->	
