<div class="container">

  <div class="row filter">
      <label style="margin-top: 5px" for="type">Car Type: </label><br>
      <select align="right" class="form-control filter-dropbox" name="type" id="type" ng-model="filter_car.car_type" placeholder="Car Type">
        <option value="sedan">Sedan</option>
        <option value="coupe">Coupe</option>
        <option value="hatchback">Hatchback</option>
        <option value="van">Van</option>
        <option value="convertible">Convertible</option>
        <option value="SUV">SUV</option>
      </select>

      <label style="margin-top: 5px" class="filter-dropbox" for="doors">Doors: </label><br>
      <select align="right" class="form-control filter-dropbox" name="doors" id="doors" ng-model="filter_car.car_doors">
        <option value="2">2 Doors</option>
        <option value="4">4 Doors</option>
      </select>

      <label style="margin-top: 5px" class="filter-dropbox" for="transmission">Transmission: </label><br>
      <select align="right" class="form-control filter-dropbox" name="transmission" id="transmission" ng-model="filter_car.car_transmission">
        <option value="automatic">Automatic</option>
        <option value="manual">Manual</option>
      </select>
  </div>
  <div class="row">
    <label style="margin-top: 15px; margin-right: 15px;">Price Range: </label><br>
      <rzslider class="custom-slider"
      rz-slider-model="slider.minPrice"
      rz-slider-high="slider.maxPrice"
      rz-slider-options="slider.options">
      </rzslider>
  </div>
  <div class="row">
      <div class="btn-group">
        <button class="primary-btn" ng-click="reset_filters(filter_car)">Reset Filters</button>
        <button class="primary-btn filter-dropbox" ng-click="reset_price_range(slider)">Reset Price Range</button>
      </div>
  </div>

  <section ng-repeat="car in cars_list | filter:byRange('car_price', slider.minPrice, slider.maxPrice) | filter: filter_car | orderBy: '_id' as filtered_result" id="{{car.car_name}}">
    <div class="row align-items-center single-model item" style="margin-top: 40px; margin-bottom: 40px;">
      <div class="col-lg-6 model-left">
        <div class="title justify-content-between d-flex">
          <h4 class="mt-20">{{car.car_name}}</h4>
          <h2>{{car.car_price}} BAM<span>/day</span></h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="capitalize">
          Engine           : {{car.car_engine}} ({{car.car_power}}) <br>
          Capacity         : 5 Person <br>
          Doors            : {{car.car_doors}} <br>
          Transmission     : {{car.car_transmission}} <br>
          Type    : {{car.car_type}}
        </p>

        <a class="text-uppercase primary-btn" ng-click="rent_car(car.car_name, cars_list)" ng-href="#!cars/{{index}}">Book This Car Now</a>
      </div>
      <div class="col-lg-6 model-right">
        <img class="img-fluid" src="{{car.car_picture}}" alt="">
      </div>
</div>
  </section>
  <div class="alert alert-danger alert-dismissible give_me_margin" 
    ng-show="filtered_result.length == 0">
  <a href="" ng-click="reset_all(filter_car, slider)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Unfortunately, we do not have car which satisfies your needs!
  </div>