			<!-- Start reviews Area -->
			<section class="reviews-area section-gap" id="review">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-md-8 pb-40 header-text text-center">
                <h1>Extra Car Features</h1>
                <p class="mb-10 text-center">
                  Can Be Added On Request
                </p>
              </div>
            </div>					
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="single-review">
                  <h4>Phone Holder</h4>
                  <p>
                    Using a phone holder is really nice trick to go hands-free while driving.
                  </p>
                  <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-review">
                  <h4>Tire Chains</h4>
                  <p>
                    People who drive in wintery conditions should really consider taking a set of winter tires for rented car.
                  </p>
                  <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-review">
                  <h4>Refrigerator</h4>
                  <p>
                    This refrigerator is suitable for anyone who needs to keep their food cold for about 12 to 24 hours.
                  </p>
                  <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
              </div>							
              <div class="col-lg-4 col-md-6">
                <div class="single-review">
                  <h4>Driver</h4>
                  <p>
                    If you need a car, but you are not experienced driver or you don't have driving license.
                  </p>
                  <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-review">
                  <h4>Ski Carrier</h4>
                  <p>
                    You go skiing? No problem, ask for ski carrier from us and we will put it for you.
                  </p>
                  <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-review">
                  <h4>Phone Charger</h4>
                  <p>
                    Did your phone battery ever died while driving? No worries, we can put charger for you.
                  </p>
                  <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
              </div>												
            </div>
          </div>	
        </section>
        <!-- End reviews Area -->