<section id="gallery">
    <div class="container">
       <div class="row">
        <div ng-repeat="picture in pictures_list" class="{{picture.size}} img-space">
          <div class="gallery">
            <a href= "http://159.65.118.49:443/assets/img/{{picture.name}}" target="_blank">
               <img class="img-responsive" src="http://159.65.118.49:443/assets/img/{{picture.name}}" style="width:100%;"/>
               <span class="overlay-gallery">+</span>
            </a>  
          </div>
        </div>
    </div>
  </section>