			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-7 col-md-6 ">
							<h6 class="text-white ">the Royal Essence of Journey</h6>
							<h1 class="text-white text-uppercase">
								Relaxed Journey Ever				
							</h1>
							<p class="pt-20 pb-20 text-white">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
							<a href="#!prices" class="primary-btn text-uppercase">Rent Car Now</a>
						</div>
						<div class="col-lg-5  col-md-6 header-right">
							<h4 class="text-white pb-30">Book Your Car Today!</h4>
							<form class="form" name="rent_a_car_form" role="form" autocomplete="off" ng-submit="rentemail(order)">
							    <div class="form-group">
							       	<div class="default-select" id="default-select">
												<select style="width:auto;" class="form-control" style="line-height: 19px; font-size: 14px; font-family: 'Open Sans', sans-serif;font-weight: 400;padding: 6px 10px 6px" 
													ng-options="car.car_name for car in cars_list" ng-model="order.car" required>
												</select>
											</div>
							    </div>
							    <div class="form-group row">
							        <div class="col-md-6 wrap-left">
								       	<div class="default-select" id="default-select">
								  				<select style="width:auto; margin-top: 2px" class="grid_comboHome form-control" ng-model="order.pickup_location" id="OfficeOut" name="OfficeOut" style="line-height: 19px; font-size: 14px; font-family: 'Open Sans', sans-serif;font-weight: 400;padding: 6px 10px 6px" required>
									 					<option value="">- Pick up Location -</option>
									 					<option value="Mostar">Mostar Airport</option>
									 					<option value="Sarajevo">Sarajevo Airport</option>
									 					<option value="Tuzla">Tuzla Airport</option>
								  				</select>
													</div>
							        </div>
							        <div class="col-md-6 wrap-right">
												<input class="form-control"
												placeholder="Select a date..."
												moment-picker="order.pickup_date"
												locale="en"
												format="YYYY-MM-DD"
												start-view="month"
												min-date="minDateString"
												ng-model="order.pickup_date"
												ng-model-options="{ updateOn: 'blur' }">
							        </div>
							    </div>
							    <div class="form-group row">
							        <div class="col-md-6 wrap-left">
								       	<div class="default-select" id="default-select">
													<select style="width:auto; margin-top: 2px" class="grid_comboHome form-control" ng-model="order.return_location" id="OfficeIn" name="OfficeIn" style="line-height: 19px; font-size: 14px; font-family: 'Open Sans', sans-serif;font-weight: 400;padding: 6px 10px 6px" required>
														<option value="">-Drop off Location-</option>
														<option value="Mostar">Mostar Airport</option>
														<option value="Sarajevo">Sarajevo Airport</option>
														<option value="Tuzla">Tuzla Airport</option>
													</select>
										</div>
							        </div>
							        <div class="col-md-6 wrap-right">
												<input class="form-control"
												placeholder="Select a date..."
												moment-picker="order.return_date"
												locale="en"
												format="YYYY-MM-DD"
												start-view="month"
												min-date="order.pickup_date"
												ng-model="order.return_date"
												ng-model-options="{ updateOn: 'blur' }">
							        </div>
									</div>
									<div class="form-group">
										<input class="form-control txt-field" type="text" name="name" placeholder="Your name" ng-model="order.name" required>
										<span style="color:#d32f2f" ng-show="rent_a_car_form.name.$touched">
										<span ng-show="rent_a_car_form.name.$error.required">Your Name is Required</span>
									</div>
									<div class="form-group">
										<input class="form-control txt-field" type="email" name="email" placeholder="Email address" ng-model="order.email" required>
										<span style="color:#d32f2f" ng-show="rent_a_car_form.email.$touched && rent_a_car_form.email.$invalid">
										<span ng-show="rent_a_car_form.email.$error.required">Email is required.</span>
										<span ng-show="rent_a_car_form.email.$error.email">Invalid email address.</span>
									</div>
									<div class="form-group">
											<input type="tel" class="form-control txt-field" id="phone" name="phone" ng-model="order.phone" international-phone-number required />
											<br>
											<span style="color:#d32f2f" ng-show="rent_a_car_form.phone.$touched && rent_a_car_form.phone.$invalid">
											<span ng-show="rent_a_car_form.phone.$error.required">Phone is required.</span>
											<br>
											<span >Invalid phone number format.</span>
										</div>							    
							    <div class="form-group row">
							        <div class="col-md-12">
							            <button ng-disabled="rent_a_car_form.$invalid" class="btn btn-default btn-lg btn-block text-center text-uppercase" ng-click="make_order()">Confirm Car Booking</button>
							        </div>
							    </div>
							</form>
						</div>											
					</div>
				</div>					
			</section>
      <!-- End banner Area -->
      
      <div class="row rowTitle justify-content-center align-items-center">
				<div class="col-md-12">Every our car has</div>
			</div>
			<div class="row rowText justify-content-center align-items-center">
				<div class="col-sm-4">
          <i style="color: #f3b927" class="fa fa-location-arrow fa-3x" aria-hidden="true"></i>
          <h3>GPS Navigation</h3>
          <p style="font-size: 20px;">For better navigating around cities.</p>
				</div>
				<div class="col-sm-4">
					<i style="color: #f3b927" class="fa fa-child fa-3x" aria-hidden="true"></i>
					<h3>Child Seat</h3>
					<p style="font-size: 20px;">Your child will be safer and you won't get in trouble with police.</p>
				</div>
				<div class="col-sm-4">
					<i style="color: #f3b927" class="fa fa-snowflake fa-3x" aria-hidden="true"></i>
					<h3>Air Condition</h3>
					<p style="font-size: 20px">You'll get air condition in every car.</p>
				</div>
      </div>
    </div>
