<div class="prices">
  <table class="table table-dark table-hover">
    <thead class="unselectable">
      <tr>
        <th>Car Name</th>
        <th>Car Price</th>
        <th>Basic Info</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="car in cars_list">
        <td style="cursor: pointer;" title="Show me {{car.car_name}}"><a ng-href="#!cars/{{car.car_name}}" target="_self">{{car.car_name}}</a></td>
        <td>{{car.car_price}} BAM/<small>day</small></td>
        <td>{{car.car_engine}} ({{car.car_power}}), {{car.car_transmission}}({{car.car_gears}} gears), {{car.car_doors}} doors</td>
      </tr>
    </tbody>
  </table>
</div>