<div class="wrapper">
  <div id="header" id="home" style="position: relative; background-color: black">
    <div class="container">
      <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
          <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>
        </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a ng-class="getClass('/home')" href="#!home" ng-click="menuItemClicked()" data-hover="Home">Home</a></li>
            <li><a ng-class="getClass('/about')" href="#!about" ng-click="menuItemClicked()" data-hover="About">About</a></li>
            <li><a ng-class="getClass('/prices')" href="#!prices" ng-click="menuItemClicked()" data-hover="Prices">Prices</a></li>
            <li><a ng-class="getClass('/cars')" href="#!cars" ng-click="menuItemClicked()" data-hover="Cars">Cars</a></li>
            <li><a ng-class="getClass('/feature')" href="#!feature" ng-click="menuItemClicked()" data-hover="Feature">Features</a></li>
            <li><a ng-class="getClass('/gallery')" href="#!gallery" ng-click="menuItemClicked()" data-hover="Gallery">Gallery</a></li>					          
          </ul>
        </nav><!-- #nav-menu-container -->		    		
      </div>
    </div>
  </div><!-- #header -->
  
  <div class="main-panel">
    <div ng-view></div>
  </div>

  			<!-- Start callaction Area -->
        <section class="callaction-area relative section-gap">
            <div class="overlay overlay-bg"></div>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <h1 class="text-white">Experience Great Support</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                  </p>
                  <a class="callaction-btn text-uppercase" href="#">Reach Our Support Team</a>	
                </div>
              </div>
            </div>	
          </section>
          <!-- End callaction Area -->

          			<!-- Start feature Area -->
			<section class="feature-area section-gap" id="service">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-md-8 pb-40 header-text">
                <h1>What Services we offer to our clients</h1>
                <p>
                  Who are in extremely love with eco friendly system.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                  <h4><span class="lnr lnr-user"></span>Expert Technicians</h4>
                  <p>
                    Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                  <h4><span class="lnr lnr-license"></span>Professional Service</h4>
                  <p>
                    Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                  </p>								
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                  <h4><span class="lnr lnr-phone"></span>Great Support</h4>
                  <p>
                    Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                  </p>								
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                  <h4><span class="lnr lnr-rocket"></span>Technical Skills</h4>
                  <p>
                    Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                  </p>				
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                  <h4><span class="lnr lnr-diamond"></span>Highly Recomended</h4>
                  <p>
                    Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                  </p>								
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                  <h4><span class="lnr lnr-bubble"></span>Positive Reviews</h4>
                  <p>
                    Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                  </p>									
                </div>
              </div>						
            </div>
          </div>	
        </section>
        <!-- End feature Area -->	
  
  
    <!--Footer-->
    <footer class="page-footer font-small indigo pt-0 ">

        <!--Footer Links-->
        <div class="container">
    
            <!--First row-->
            <div class="row">
    
                <!--First column-->
                <div class="col-md-12 py-5">
    
                    <div class="mb-5 flex-center">
    
                        <!--Facebook-->
                        <a  class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Twitter-->
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin-->
                        <a class="li-ic">
                            <i class="fab fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Pinterest-->
                        <a class="pin-ic">
                            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                        </a>
                    </div>
                </div>
                <!--/First column-->
            </div>
            <!--/First row-->
        </div>
        <!--/Footer Links-->
    
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            Copyright ©2018 All rights reserved
            <a href="https://colorlib.com/"> Colorlib </a>
        </div>
        <!--/Copyright-->

    </footer>
    <!--/Footer-->
</div>