<div class="popeye-modal-container">
  <div class="popeye-modal">
    <a class="popeye-close-modal" href ng-click="$close()"></a>
    <h2 style="text-align: center; margin-bottom: 20px;">Make Rent</h2>
    <form class="form" name="rent_a_car_form" role="form" autocomplete="off" ng-submit="rentemail(order)">
      <div class="form-group">
           <div class="default-select" id="default-select">
            <select style="width:auto;" class="form-control" style="line-height: 19px; font-size: 14px; font-family: 'Open Sans', sans-serif;font-weight: 400;padding: 6px 10px 6px" 
              ng-options="car.car_name for car in cars_list" ng-model="order.car" required>
            </select>
          </div>
      </div>
      <div class="form-group row">
          <div class="col-md-6 wrap-left">
             <div class="default-select" id="default-select">
              <select style="width:auto; margin-top: 2px" class="grid_comboHome form-control" ng-model="order.pickup_location" id="OfficeOut" name="OfficeOut" style="line-height: 19px; font-size: 14px; font-family: 'Open Sans', sans-serif;font-weight: 400;padding: 6px 10px 6px" required>
                 <option value="">- Pick up Location -</option>
                 <option value="Mostar">Mostar Airport</option>
                 <option value="Sarajevo">Sarajevo Airport</option>
                 <option value="Tuzla">Tuzla Airport</option>
              </select>
              </div>
          </div>
          <div class="col-md-6 wrap-right">
            <input class="form-control"
            placeholder="Select a date..."
            moment-picker="order.pickup_date"
            locale="en"
            format="YYYY-MM-DD"
            start-view="month"
            min-date="minDateString"
            ng-model="order.pickup_date"
            ng-model-options="{ updateOn: 'blur' }">
          </div>
      </div>
      <div class="form-group row">
          <div class="col-md-6 wrap-left">
             <div class="default-select" id="default-select">
              <select style="width:auto; margin-top: 2px" class="grid_comboHome form-control" ng-model="order.return_location" id="OfficeIn" name="OfficeIn" style="line-height: 19px; font-size: 14px; font-family: 'Open Sans', sans-serif;font-weight: 400;padding: 6px 10px 6px" required>
                <option value="">-Drop off Location-</option>
                <option value="Mostar">Mostar Airport</option>
                <option value="Sarajevo">Sarajevo Airport</option>
                <option value="Tuzla">Tuzla Airport</option>
              </select>
        </div>
          </div>
          <div class="col-md-6 wrap-right">
            <input class="form-control"
            placeholder="Select a date..."
            moment-picker="order.return_date"
            locale="en"
            format="YYYY-MM-DD"
            start-view="month"
            min-date="order.pickup_date"
            ng-model="order.return_date"
            ng-model-options="{ updateOn: 'blur' }">
          </div>
      </div>
      <div class="form-group">
        <input class="form-control txt-field" type="text" name="name" placeholder="Your name" ng-model="order.name" required>
        <span style="color:#d32f2f" ng-show="rent_a_car_form.name.$touched">
        <span ng-show="rent_a_car_form.name.$error.required">Your Name is Required</span>
      </div>
      <div class="form-group">
        <input class="form-control txt-field" type="email" name="email" placeholder="Email address" ng-model="order.email" required>
        <span style="color:#d32f2f" ng-show="rent_a_car_form.email.$touched && rent_a_car_form.email.$invalid">
        <span ng-show="rent_a_car_form.email.$error.required">Email is required.</span>
        <span ng-show="rent_a_car_form.email.$error.email">Invalid email address.</span>
      </div>
      <div class="form-group">
          <input type="tel" class="form-control txt-field" id="phone" name="phone" ng-model="order.phone" international-phone-number required />
          <br>
          <span style="color:#d32f2f" ng-show="rent_a_car_form.phone.$touched && rent_a_car_form.phone.$invalid">
          <span ng-show="rent_a_car_form.phone.$error.required">Phone is required.</span>
          <br>
          <span >Invalid phone number format.</span>
        </div>							    
      <div class="form-group row">
          <div class="col-md-12">
              <button ng-disabled="rent_a_car_form.$invalid" class="btn btn-default btn-lg btn-block text-center text-uppercase" ng-click="make_order()">Confirm Car Booking</button>
          </div>
      </div>
  </form>
  </div>
</div>